################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebView2.DOM/bin
/WebView2.DOM/obj
/WebView2.DOM.Sample/bin
/WebView2.DOM.Sample/obj
*.user
/WebView2.DOM.Tests/bin
/WebView2.DOM.Tests/obj
/WebView2.DOM.Tests.NetCore3_1/bin
/WebView2.DOM.Tests.NetCore3_1/obj
/WebView2.DOM.Sample.NetFx/bin
/WebView2.DOM.Sample.NetFx/obj
/TestXaml.App/bin
/TestXaml.App/obj
/TestXaml.Library/bin
/TestXaml.Library/obj
